* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f3f4f6;
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5vh 10vw;
  }
  
  .nav_left {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navber {
    margin-left: 100px;
  }
  
  .navber a {
    text-decoration: none;
    color: rgb(110, 105, 105);
    font-weight: 600;
    margin: 15px;
    font-size: 0.91rem;
  }
  
  .cart_icon i {
    color: black;
    font-size: 1.5rem;
  }
  
  .section_one {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .sections {
    width: 96vw;
    background-color: white;
    margin: 0px auto;
    margin-bottom: 3vh;
    box-shadow: 0 0 10px rgb(190, 190, 190);
    border-radius: 5px;
  }
  
  .image {
    margin-left: 9vw;
  }
  
  .main_img img {
    width: 40vw;
    margin-top: 8vh;
    border-radius: 5px;
  }
  
  .bottom_img {
    width: 40vw;
    display: flex;
    justify-content: center;
  }
  
  .bottom_img img {
    width: 12.5vw;
    margin: 0.7vw;
    margin-top: 3vh;
    border-radius: 5px;
  }
  
  .constent_area {
    margin-top: 5vh;
    margin-left: 1.5vw;
    margin-right: 9vw;
  }
  
  .constent_area h1 {
    font-size: 2.5rem;
  }
  
  .price {
    display: flex;
    margin-top: 30px;
  }
  
  .price p {
    font-size: 1.8rem;
    color: rgb(110, 105, 105);
  }
  
  .price strike {
    color: rgb(110, 105, 105);
    margin: 10px 10px;
  }
  
  .offer_price {
    padding: 6px 2px;
    margin-right: 30vw;
    border-radius: 30px;
    border: 1px solid rgb(255, 95, 95);
    margin-bottom: 8px;
  }
  
  .offer_price p {
    font-size: 0.8rem;
    color: rgb(255, 118, 118);
    text-align: center;
  }
  
  .rating {
    display: flex;
    margin-bottom: 20px;
  }
  
  .rating p {
    margin: 5px;
  }
  
  .rating_poing {
    font-size: 1.3rem;
  }
  
  .rating i {
    font-size: 0.9rem;
    color: gold;
    margin-top: 4px;
  }
  
  .rating a {
    font-size: 0.9rem;
    margin: 8px 10px;
    text-decoration: none;
  }
  
  .para1 {
    font-size: 0.95rem;
    color: rgb(110, 105, 105);
  }
  
  .constent_area h5 {
    color: rgb(110, 105, 105);
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  .color_icon {
    display: flex;
    margin: -5px -10px;
  }
  
  .color_icon i {
    font-size: 2.1rem;
    margin: 10px;
  }
  
  .color_icon p:nth-child(1) {
    color: #10b982;
  }
  
  .color_icon p:nth-child(2) {
    color: #ca8a04;
  }
  
  .boxs {
    display: flex;
    margin: -10px -15px;
  }
  
  .box {
    margin: 15px;
    border: 1px solid rgb(214, 209, 209);
    width: 55px;
    height: 40px;
    border-radius: 5px;
  }
  
  .box p {
    text-align: center;
    margin-top: 10px;
  }
  
  .box1 {
    border: 2px solid #4438ca;
  }
  
  .size_btn {
    display: flex;
  }
  
  .para-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8vw;
    height: 5vh;
    border: 1px solid rgb(211, 214, 211);
    border-radius: 5px;
  }
  
  .size_btn p {
    font-size: 0.99rem;
    margin: 15px;
    color: rgb(110, 105, 105);
  }
  
  .cart_btn {
    background-color: #4438ca;
    height: 8vh;
    width: 36vw;
    border: none;
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: white;
    font-size: 1.1rem;
    box-shadow: 5px 5px 12px rgb(216, 216, 216);
  }
  
  .cart_btn:hover {
    background-color: #10b982;
    color: black;
    transition: 0.4s ease-in-out;
  }
  
  .list-1 {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    width: 36vw;
  }
  
  .maines_icon {
    color: rgb(110, 105, 105);
  }
  
  .list-2 {
    /* margin-top: 5px; */
    margin-left: 1.2vw;
  }
  
  .list-2 li {
    color: rgb(110, 105, 105);
  }
  
  hr {
    margin-top: 24px;
  }
  
  .section_two {
    margin: 5vh 9vw;
  }
  
  .section_two h1 {
    font-size: 2.7rem;
  }
  
  .section_two p {
    margin: 20px 0 40px;
    font-size: 1.1rem;
    color: rgb(110, 105, 105);
  }
  
  .second_nav {
    display: flex;
    margin-bottom: -10px;
  }
  
  .second_navber {
    margin-left: -15px;
  }
  
  .second_nav a {
    text-decoration: none;
    margin: 15px;
    font-size: 0.95rem;
    color: black;
  }
  
  .nav-2-hr {
    margin-bottom: 30px;
    border-color: rgb(255, 255, 255);
  }
  
  .second_image_section {
    display: flex;
    justify-content: space-between;
  }
  
  .second_image img {
    width: 20vw;
    border-radius: 5px;
  }
  
  .second_content {
    margin-left: 3vw;
  }
  
  .second_content p {
    font-size: 0.95rem;
  }
  
  .second_para {
    display: flex;
    margin-left: -1vw;
  }
  
  .second_para_top {
    margin-top: -25px;
  }
  
  .second_para_top p:nth-child(2) {
    margin-top: -35px;
  }
  
  .second_para_bottom {
    margin-top: -25px;
    margin-left: 6vw;
    font-size: 1.1rem;
  }
  
  .second_para_bottom p:nth-child(2) {
    margin-top: -35px;
  }
  
  .second_para i {
    margin-right: 15px;
    color: blue;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 50%;
    box-shadow: 0px 0px 2px rgb(187, 187, 187);
  }
  
  .section_three {
    margin: 8vh 9vw;
  }
  
  .third_section_image {
    display: flex;
    margin-left: -1vw;
  }
  
  .thirt_section_bottom_img img {
    width: 18vw;
    margin: 1vw;
    border-radius: 8px;
  }
  
  .thirt_section_bottom_img p {
    margin-left: 1vw;
    font-size: 0.8rem;
    color: rgb(110, 105, 105);
  }
  
  .thirt_section_bottom_img p:nth-child(3) {
    font-size: 1.1rem;
    margin-top: 7px;
    margin-bottom: 10px;
    color: black;
  }
  
  .fa-solid {
    margin: 1vw;
  }
  
  .fa-regular {
    margin-left: -0.7vw;
  }
  
  .section_four {
    display: flex;
    justify-content: space-between;
    margin: 10vh 9vw;
  }
  
  .newsletter h2 {
    font-size: 1.3rem;
  }
  .newsletter p {
    font-size: 0.95rem;
    color: rgb(110, 105, 105);
    margin-top: 10px;
  }
  
  .input_fild {
    display: flex;
  }
  
  .input_fild input {
    padding: 5px 10px;
    width: 18vw;
    height: 5vh;
    margin-right: 10px;
    font-size: 0.85rem;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    border: none;
    outline: none;
    border: 1px solid rgb(177, 177, 177);
    background-color: rgb(233, 233, 233);
  }
  
  input::placeholder {
    color: #aaa;
    font-size: 14px;
  }
  
  .input_fild button {
    width: 6.5vw;
    height: 5vh;
    border: 1px solid rgb(184, 184, 184);
    background-color: #4438ca;
    color: white;
    border-radius: 5px;
  }
  
  .input_fild button:hover {
    color: black;
    background-color: rgb(3, 255, 200);
    transition: 0.4s all ease-in-out;
  }
  
  .section_five {
    display: flex;
    justify-content: space-between;
    margin: 10vh 9vw;
  }
  
  .section_five_left p {
    width: 25vw;
    color: rgb(110, 105, 105);
    font-size: 0.95rem;
    margin-top: 5vh;
  }
  
  .section_five_right {
    display: flex;
    font-size: 0.9rem;
  }
  
  .section_five_right a {
    text-decoration: none;
    color: rgb(110, 105, 105);
    font-weight: 550;
  }
  
  .right_left {
    margin-right: 4.5vw;
  }
  
  .right_left div {
    margin-bottom: 10px;
  }
  
  .right_right div {
    margin-bottom: 10px;
  }
  
  footer {
    display: flex;
    justify-content: space-between;
    margin: 5vh 9vw;
    color: rgb(110, 105, 105);
  }
  
  footer div:nth-child(2) {
    display: flex;
    margin-bottom: 5vh;
    margin-right: -25px;
  }
  
  footer div:nth-child(2) i {
    margin-right: 25px;
    font-size: 1.1rem;
  }