* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --promary-color: rgb(233, 233, 233);
    --secondary-color: rgb(0, 0, 255);
    --background-color: rgb(49, 48, 49);
}

.container {
    background-image: url(./img/Hero.png);
    background-size: cover;
    height: 100vh;
}

.navber {
    background-color: var(--background-color);
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: var(--promary-color);
    font-size: 2rem;
    font-weight: 700;
    margin-left: 150px;
    cursor: pointer;
    transition: all 0.3s;
}

.logo:hover {
    font-size: 2.5rem;
}

.logo span {
    color: var(--secondary-color);
}

.navber ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 150px;
}

.navber ul li {
    list-style-type: none;
    position: relative;
}

.navber ul li a {
    text-decoration: none;
    color: var(--promary-color);
    font-size: 1.3rem;
    transition: all 0.3s;
    padding: 25px;
}

.navber ul li a:hover {
    color: var(--secondary-color);
}

.navber ul li a i {
    margin-left: 5px;
}

.drop-down {
    display: none;
}

.navber ul li:hover .drop-down {
    display: block;
    position: absolute;
    left: -19px;
    top: 120%;
    background-color: var(--background-color);
}

.drop-down ul {
    display: block;
    margin: 10px;
}

.drop-down ul li {
    width: 150px;
    padding: 10px;
}

.fa-caret-right {
    float: right;
    margin-top: 4px;
}

.dorp-down-1 {
    display: none;
}

.drop-down ul li:hover .dorp-down-1 {
    display: block;
    position: absolute;
    top: 0;
    left: 150px;
    background-color: var(--background-color);
}

/* .hero {
    background-image: url(./img/Hero.png);
    height: 85vh;
    background-size: cover;
    background-repeat: no-repeat;
} */