*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html , body{
    width: 100%;
    height: auto;
    scroll-behavior: smooth;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5vw 4vw;
    background-color: rgb(156, 252, 220);
}

.logo {
    font-size: 16px;
}

.navber_list {
    display: flex;
    gap: 2vw;
    list-style: none;
}

.navber_link:link,
.navber_link:visited {
    text-decoration: none; 
    color: black;
    font-size: 19px;
    font-weight: 700;
}

.navber_link:hover,
.navber_link:active {
    color: rgb(98, 98, 255);
    transition: all linear 0.3s;
}

.hero_section {
    background-color: rgb(0, 179, 202);
    height: 43vh;
}

.service_section {
    background-color: darksalmon;
    height: 44vh;
}

p {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding-top: 20vh;
}

.mobile_nabver_icon {
    display: none;
    background-color: transparent;
    cursor: pointer;
}

.mobile_nabver_icon i {
    font-size: 25px;
}

/* Responsive Design */

@media (max-width: 768px) {
    .logo {
        font-size: 10px;
    }

    .navber_link:link {
        font-size: 15px;
    }
}

@media (max-width: 600px) {
    .logo {
        font-size: 10px;
    }

    header {
        position: relative;
    }

    .navber {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(100%);
        opacity: 1;
        visibility: hidden;
        pointer-events: none;
        transition: all linear 0.3s;
    }

    .navber_list {
        display: flex;
        flex-direction: column;
        background-color: azure;
        height: 100vh;
        justify-content: center;
        align-items: center;
        gap: 5vh;
        transition: all linear 0.3s;
    }

    .mobile_nabver_icon {
        display: block;
        background-color: transparent;
        cursor: pointer;
        z-index: 999;
    }

    .mobile_nabver_icon i {
        font-size: 20px;
        border: 3px solid black;
        padding: 3px 6px;
    }

    .mobile_nabver_icon .fa-xmark {
        display: none;
    }

    .active .navber {
        transform: translateX(0%);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .active .mobile_nabver_icon .fa-xmark {
        display: block;
    }

    .active .mobile_nabver_icon .fa-bars {
        display: none;
    }
}